.bg-white{
    background-color: #ffffff;
}
.white{
    color:#ffffff;
}

.bg-blue{
    background-color: #578fcb;
}

.blue{
    color: #578fcb;
}

.bg-yellow{
    background-color: #ffffff;
}

.orange{
    color: #ff871c;
}

.bg-black{
    background-color: #201e1e;
}

.black{
    color: #201e1e;
}