html body header { font-family: 'Roboto', sans-serif
    ;}
header {
    background-color: #ffffffff
}

/*menu de nav*/

.navigation-wrap{
    position:fixed;
    width:100%;
    
    -webkit-transition:all 0.3s ease-out;
    transition:all 0.3s ease-out;
  }
  .navigation-wrap .nav-item{
    
    padding:0 ;
    transition:all 0.3s linear;
  } 
  .navbar-toggler:focus{
    outline:unset;
    border:unset;
    box-shadow: none;
  }
  .nav-link{
      padding: 45px;
    
    align-items;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    color:var(--white-color);
    letter-spacing:.7px;
  }
  .nav-link:hover,
  .nav-link.active{
    color: blue !important;
  }
  .navigation-wrap {
    padding: 45px;
    box-shadow: none;
   left: -;
t
    
  }

  .navbar-expand .navbar-collapse {
      right: 1000px;
  }

  .nav-item {
      padding: 45px
  }




 /* fim da nav */ 
 #propaganda1 {
     padding-top: ;
 }

 #propaganda2 {
     
    color: white;
    height: 180px;
    padding-left: 10px;
    padding-top: 30px;
 }
 #propaganda2 a {
     padding: 25px;
 }

 #propaganda2 h1{
     padding-top: 30px;
 }

.btnpropaganda1 {
    justify-content: space-between;
  
}
.btnpropaganda1 {
    box-shadow:inset 0px 2px 0px 0px #bbdaf7;
    background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
    background-color:#79bbff;
    border-radius:39px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:28px;
    font-weight:bold;
    padding:16px 76px;
    text-decoration:none;
    text-shadow:0px 5px 17px #528ecc;
}
.btnpropaganda1:hover {
    background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
    background-color:#378de5;
}
.btnpropaganda1:active {
    position:relative;
    top:1px;

}

/* * area social css */


/* Style the container with a rounded border, grey background and some padding and margin */
.testimonial {

    display: table;
    border: 2px solid rgb(0, 160, 247);
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;
  
  }
  
  /* Float images inside the container to the left. Add a right margin, and style the image as a circle */
  .testimonial img {
    padding: 0px;
    float: left;
    margin-right: 20px;
    border-radius: 50%;
  }
  

  

}